table {
	border: 1px #a39485 solid;
  	box-shadow: 0 2px 5px rgba(0,0,0,.25);
  	border-radius: 5px;
  	text-align: left;
  	vertical-align: middle;
}

th,td {
  	padding: .5em .5em;
	width:400px;
}
 td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: white;
 }
 
thead {
	position: sticky;
	top:0;
  	font-weight: bold;
  	font-size: 15px;
  	color: #fff;
  	background: #4ed7c7;
}